@import 'reset';
@import '960';

$dark_brown: #503D15;
$red: #DF5341;
$blue: #6D8AA4;
$green: #728057;
$gold: #BC9D54;

@mixin no-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin no-dl {
  dt {
    font-weight: normal;
  }
  dd {
    margin: 0;
    padding: 0;
  }
}

@mixin rounded($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  -o-border-radius: $px;
}

@mixin glow($color, $size, $offset) {
  box-shadow: 0px $offset $size $color;
  -webkit-box-shadow: 0px $offset $size $color;
}

.clear {
  @include clearfix;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Cantarell, sans-serif;
  font-weight: normal;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
}

body {
  background-color: #F8F5EA;
}

header {
  background-color: #EDEAE0;
  background-image: url(img/bg_dark.png);
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  .wrapper {
    padding: 20px 40px;
  }
  .ad {
    margin: 0 auto;
    img {
      border: 1px solid #fff;
    }
  }
  .content {
    text-align: left;
    position: relative;
    img#logo {
      position: absolute;
      top: 47px;
      left: 0;
    }
    .slogan {
      @include no-dl;
      position: absolute;
      left: 325px;
      top: 39px;
      width: 300px;
      dt {
        color: $blue;
        font-family: Cantarell, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-shadow: #fff 0 1px 0;
      }
      dd {
        a {
          color: $red;
          display: block;
          font-family: Cantarell, sans-serif;
          text-transform: uppercase;
          font-size: 11px;
          text-shadow: #fff 0 1px 0;
        }
      }
    }
    .search {
      position: absolute;
      top: 80px;
      right: 30px;
      input[type="text"] {
        @include rounded(5px);
        @include glow(#ccc, 5px, 0);
        border-width: 0;
        float: left;
        font-size: 18px;
        line-height: 24px;
        margin-right: 10px;
        padding: 4px;
        width: 200px;
      }
      input[type="submit"] {
        @include rounded(5px);
        background-color: $red;
        border-width: 0;
        color: #fff;
        float: left;
        line-height: 24px;
        padding: 4px;
        font-size: 18px;
        width: 75px;
      }
    }
    
  }
}

footer {
  background-color: #222;
  margin-top: 2em;
  .wrapper {
    color: #fff;
    padding: 20px 40px;
    a {
      color: #fff;
      text-decoration: underline;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .about {
      font-size: 20px;
      padding-bottom: 5px;
    }
    .contact {
      padding-bottom: 1em;
      a {
        padding-right: 1em;
      }
    }
  }
}

div#main {
  background-color: #F8F5EA;
  background-image: url(img/bg_light.png);
  border-top: 1px solid #fff;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, .1);
  color: $dark_brown;
  margin-top: 250px;
  position: relative;
  z-index: 2;
  text-shadow: #fff 0 1px 0;
  .wrapper {
    @include container_12;
    background-image: url(img/side_shadow.png);
    background-repeat: no-repeat;
    background-position: 690px 0;
    margin: 40px;
    div#content {
      @include grid($grid_9);
      @include alpha;
      width: 700px !important;
      h1 {
        font-size: 28px;
      }
    }
    div#side {
      @include grid($grid_4);
      @include omega;
      width: 300px !important;
      min-height: 600px;
      .side-wrapper {
//        padding-left: 25px;
      }
      #ad300b {
        margin-bottom: 2em;
      }
      .search {
        input[type="text"] {
          @include rounded(5px);
          @include glow(#ccc, 5px, 0);
          border-width: 0;
          float: left;
          font-size: 18px;
          line-height: 24px;
          margin-right: 10px;
          padding: 4px;
          width: 175px;
        }
        input[type="submit"] {
          @include rounded(5px);
          background-color: $red;
          border-width: 0;
          color: #fff;
          float: left;
          line-height: 24px;
          padding: 4px;
          font-size: 18px;
          width: 75px;
        }
      }
      div#search {
//        background-color: $red;
        margin: 1em 0;
//        padding: 5px;
//        @include rounded(5px);
        input {
          @include rounded(5px);
          border: 5px solid $red;
          padding: 6px;
          font-size: 18px;
          width: 278px;
        }
      }
      .recent {
        margin-bottom: 2em;
        a.more {
          color: $blue;
          display: block;
          text-align: right;
        }
        ul.blog {
          @include no-list;
          li {
            margin-bottom: 1em;
            dl {
              @include no-dl;
              dt {
                font-size: 18px;
                font-family: Cantarell, sans-serif;
                text-align: justify;
                a:hover { text-decoration: none; }
              }
              dd {
                text-align: justify;
                img {
                  margin: .5em 0;
                  @include rounded(5px);
                }
                a {
                  color: $red;
                }
                p {
                  margin: 0;
                  padding: 0;
                }
                font-size: 13px
              }
            }
          }
        }
      }
    }
  }
}

a {
  color: $dark_brown;
  text-decoration: none;
  &:hover {
    color: $red;
    text-decoration: underline;
  }
  &:visited { color: $dark_brown; }
}

ul.leaderboard {
  @include no-list;
  li {
    @include grid($grid_3);
    margin-bottom: 1em;
    width: 200px;
    ul {
      @include no-list;
      li {
        @include alpha;
        @include omega;
        margin: 0;
      }
    }
    &.laptops         dt { background-image: url(img/icons/laptops.png); }
    &.smartphones     dt { background-image: url(img/icons/smartphones.png); }
    &.cell-phones     dt { background-image: url(img/icons/cell-phones.png); }
    &.tablets         dt { background-image: url(img/icons/tablets.png); }
    &.cameras         dt { background-image: url(img/icons/cameras.png); }
    &.tvs             dt { background-image: url(img/icons/tvs.png); }
    &.personal-audio  dt { background-image: url(img/icons/personal-audio.png); }
    &.home-theater    dt { background-image: url(img/icons/home-theater.png); }
    &.networking      dt { background-image: url(img/icons/networking.png); }
    &.storage         dt { background-image: url(img/icons/storage.png); }
    &.cables          dt { background-image: url(img/icons/cables.png); }
    &.e-book-readers  dt { background-image: url(img/icons/e-book-readers.png); }
    &.tvs dt { text-transform: none; }
    dl {
      @include no-dl;
      dt {
        a { display: block; }
        a:hover { text-decoration: none; }
        font-family: Cantarell, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 30px;
        background-repeat: no-repeat;
        background-position: right center;
      }
      dd {
        img {
          background-color: #fff;
          height: 75px;
          margin: .5em 0;
          width: 200px;
          @include rounded(5px);
          @include glow(#EFE9D8, 5px, 0);
          &:hover {
            @include glow(#ccc, 5px, 0);
          }
        }
        a {
          display: block;
          font-size: 11px;
          text-transform: uppercase;
          text-shadow: #fff 0 1px 0;
          padding-bottom: .5em;
        }
      }
    }
  }
}


@mixin box {
  @include rounded(5px);
  @include glow(#ccc, 5px, 0);
  background-color: rgba(255, 255, 255, .5);
  margin-bottom: 1em;
  padding: 1em;
  a {
    color: $red;
  }
}

.box {
  @include box;
  ul {
    margin-left: 0;
    padding-left: 1.5em;
  }
}

div#content {
  .side {
    width: 200px;
    dl {
      @include no-dl;
      dt {
        font-size: 11px;
        font-style: italic;
        margin-bottom: 1em;
        .price {
          background-color: $green;
          border-top: 1px solid rgba(255, 255, 255, .95);
          border-bottom: 1px solid rgba(0, 0, 0, .20);
          color: #fff;
          font-style: normal;
          padding: .5em;
          text-align: center;
          text-shadow: #000 0 -1px 0;
          font-size: 18px;
          @include rounded(5px);
        }
      }
      ul {
        @include no-list;
        li {
          a {
            color: #fff;
            display: block;
            font-size: 14px;
            padding: .75em .5em;
            text-align: center;
            text-shadow: #666 0 -1px 0;
            border-top: 1px solid rgba(255, 255, 255, .95);
            border-bottom: 1px solid rgba(0, 0, 0, .20);
            &:hover {
              text-decoration: none;
              -moz-box-shadow: inset 0 0 5px 5px rgba(0,0,0,.2);
              -webkit-box-shadow: inset 0 0 5px 5px rgba(0,0,0,.2);
              box-shadow: inset 0 0 5px 5px rgba(0,0,0,.2);
            }
          }
          &:first-child a {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
          &:last-child a {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &.amazon a    { background-color: $gold; }
          &.apple a     { background-color: #999; }
          &.bestbuy a   { background-color: $blue; }
          &.monoprice a { background-color: #C52227; }
        }
      }
    }
  }
}

.article {
  width: 450px !important;
  .breadcrumbs {
    margin-bottom: .5em;
    a {
      color: $blue;
    }
  }
  h1 {
    a {
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }
  img {
    max-width: 450px;
  }
  .image {
    .large {
      background-color: #fff;
      margin: 1em 0;
      text-align: center;
      width: 450px;
      @include rounded(5px);
      img {
        max-width: 450px;
        @include rounded(5px);
      }
    }
    ul {
      @include no-list;
      li {
        background-color: #fff;
        float: left;
        margin-right: 10px;
        img { @include rounded(5px); }
      }
    }
  }
  .meta {
    margin-bottom: 1em;
    ul {
      @include no-list;
      li {
        float: left;
        a,span {
          background-repeat: no-repeat;
          background-position: left middle;
          display: block;
          padding-left: 16px;
          margin-right: 1em;
        }
        &.category a {
          background-image: url(img/meta-tag.png);
          color: $blue;
        }
        &.comments a {
          background-image: url(img/meta-comments.png);
          color: #6E8AA4;
        }
        &.likes a {
          background-image: url(img/meta-likes.png);
          color: #DF5442;
        }
        &.date span {
          background-image: url(img/meta-date.png);
          color: $green;
        }
        &.author a {
          background-image: url(img/meta-author.png);
          color: #A69B98;
        }
      }
    }
  }
  blockquote {
    @include rounded(5px);
    @include glow(#ccc, 5px, 0);
    background-color: #fff;
    margin: 0;
    padding: 1em;
    font-family: courier, monospace;
  }
  .best-sources {
    @include clearfix;
    border-top: 2px solid $blue;
    padding-top: 1em;
    margin-top: 2em;
    ol {
      padding-left: 1.5em;
    }
    dl {
      @include no-dl;
      dt {
        font-style: italic;
      }
      dd {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 1.5em;
      }
    }
  }
}

.specs {
  strong {
    display: block;
  }
}

.leaderboard {
  .reviews {
    .bc_review {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #fff;
      padding: 1.5em 0;
      img {
        @include rounded(5px);
        @include glow(#ccc, 5px, 0);
        width: 450px;
      }
      &:first-child {
        border-top-width: 0;
        padding-top: 0;
      }
      &:last-of-type {
        border-bottom-width: 0 !important;
      }
    }
  }
}

ul.categories {
  @include no-list;
  li {
    margin-bottom: .5em;
    a {
      display: block;
      font-size: 14px;
    }
    ul {
      @include no-list;
      margin-top: .5em;
      li {
        margin-left: 1.5em;
        a {
          font-size: 12px;
        }
      }
    }
  }
}

div#comments {
  ol {
    @include no-list;
    li {
      img.avatar {
        margin-right: 1em;
      }
      footer {
        @include rounded(5px);
        @include glow(#ccc, 5px, 0);
        background-color: #fff !important;
      }
    }
  }
  div#respond {
    @include box;
    @include glow(#666, 5px, 0);
    margin-top: 2em;
    label {
      display: block;
    }
    .form-allowed-tags {
      font-size: 11px;
    }
    textarea {
      @include rounded(5px);
      border-color: #ccc;
      width: 100%;
    }
  }
}

.edit-link {
  display: none;
}

.line {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  margin: 2em 0;
}

.ad {
  text-align: center;
  div {
    margin: 0 auto;
  }
}

div#social {
  position: fixed;
  height: 80px;
  top: 30px;
  left: 40px;
  .snipsnip {
    color: #666;
    font-size: 11px;
    text-align: center;
    padding-top: .5em;
  }
  #facebook {
    margin-top: -10px;
  }
  
}
