/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* ==|== media queries ====================================================== */
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}
/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*
	12 Column 960 Grid Sysytem as Sass Mixins
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
.grid_1 {
  width: 65px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_2 {
  width: 150px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_3 {
  width: 235px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_4 {
  width: 320px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_5 {
  width: 405px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_6 {
  width: 490px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_7 {
  width: 575px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_8 {
  width: 600px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_9 {
  width: 745px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_10 {
  width: 830px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_11 {
  width: 915px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.grid_12 {
  width: 1000px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.prefix_1 {
  padding-left: 85px; }

.clear {
  *display: inline-block; }
  .clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Cantarell, sans-serif;
  font-weight: normal;
  margin: 0 0 .5em 0;
  text-transform: uppercase; }

h3 {
  font-size: 18px; }

body {
  background-color: #F8F5EA;
  min-width: 1020px; }

header {
  background-color: #EDEAE0;
  background-image: url(img/bg_dark.png);
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px; }
  header .wrapper {
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    position: relative; }
  header .ad {
    margin: 0 auto;
    min-height: 92px; }
    header .ad img {
      border: 1px solid #fff; }
  header .content {
    text-align: left;
    position: relative; }
    header .content img#logo {
      position: absolute;
      top: 27px;
      left: 0; }
    header .content .slogan {
      position: absolute;
      left: 325px;
      top: 19px;
      width: 300px; }
      header .content .slogan dt {
        font-weight: normal; }
      header .content .slogan dd {
        margin: 0;
        padding: 0; }
      header .content .slogan dt {
        color: #6d8aa4;
        font-family: Cantarell, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-shadow: #fff 0 1px 0; }
      header .content .slogan dd a {
        color: #df5341;
        display: block;
        font-family: Cantarell, sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-shadow: #fff 0 1px 0; }
    header .content .search {
      position: absolute;
      top: 60px;
      right: 0; }
      header .content .search input[type="text"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 0 5px #cccccc;
        -webkit-box-shadow: 0px 0 5px #cccccc;
        border-width: 0;
        float: left;
        font-size: 18px;
        line-height: 24px;
        margin-right: 10px;
        padding: 4px;
        width: 200px; }
      header .content .search input[type="submit"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 0 5px #cccccc;
        -webkit-box-shadow: 0px 0 5px #cccccc;
        background-color: #df5341;
        border-width: 0;
        color: #fff;
        float: left;
        line-height: 24px;
        padding: 4px;
        font-size: 14px;
        width: 75px;
        text-shadow: #666 0 -1px 0; }
    header .content .sponsor {
      position: absolute;
      top: 10px;
      right: 0; }

footer {
  background-color: #222;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#111111));
  background: -webkit-linear-gradient(top, #333333, #111111);
  background: -moz-linear-gradient(top, #2f2727, #1a82f7);
  background: -ms-linear-gradient(top, #2f2727, #1a82f7);
  border-top: 1px solid #000;
  margin-top: 2em;
  text-shadow: 0 1px 0 #000; }
  footer .wrapper {
    color: #fff;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1020px; }
    footer .wrapper a {
      color: #fff;
      text-decoration: underline; }
    footer .wrapper p {
      margin: 0;
      padding: 0; }
    footer .wrapper .about {
      font-size: 20px;
      padding-bottom: 5px; }
    footer .wrapper .contact {
      padding-bottom: 1em; }
      footer .wrapper .contact a {
        padding-right: 1em; }

div#main {
  background-color: #F8F5EA;
  background-image: url(img/bg_light.png);
  border-top: 1px solid #fff;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
  color: #503d15;
  margin-top: 230px;
  position: relative;
  z-index: 2;
  text-shadow: #fff 0 1px 0;
  width: 100%; }
  div#main .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    background-image: url(img/side_shadow.png);
    background-repeat: no-repeat;
    background-position: 690px 0;
    margin-top: 40px;
    margin-bottom: 40px; }
    div#main .wrapper div#content {
      width: 745px;
      display: inline;
      float: left;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      margin-left: 0;
      width: 700px !important; }
      div#main .wrapper div#content h1 {
        font-size: 28px; }
    div#main .wrapper div#side {
      width: 320px;
      display: inline;
      float: left;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      margin-right: 0;
      width: 300px !important;
      min-height: 600px; }
      div#main .wrapper div#side #ad300b {
        margin-bottom: 2em; }
      div#main .wrapper div#side .search input[type="text"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 0 5px #cccccc;
        -webkit-box-shadow: 0px 0 5px #cccccc;
        border-width: 0;
        float: left;
        font-size: 18px;
        line-height: 24px;
        margin-right: 10px;
        padding: 4px;
        width: 175px; }
      div#main .wrapper div#side .search input[type="submit"] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: #df5341;
        border-width: 0;
        color: #fff;
        float: left;
        line-height: 24px;
        padding: 4px;
        font-size: 18px;
        width: 75px; }
      div#main .wrapper div#side div#search {
        margin: 1em 0; }
        div#main .wrapper div#side div#search input {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          border: 5px solid #df5341;
          padding: 6px;
          font-size: 18px;
          width: 278px; }
      div#main .wrapper div#side .recent {
        margin-bottom: 2em; }
        div#main .wrapper div#side .recent a.more {
          color: #6d8aa4;
          display: block;
          text-align: right; }
        div#main .wrapper div#side .recent ul.blog {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          div#main .wrapper div#side .recent ul.blog li {
            margin-bottom: 1em; }
            div#main .wrapper div#side .recent ul.blog li dl dt {
              font-weight: normal; }
            div#main .wrapper div#side .recent ul.blog li dl dd {
              margin: 0;
              padding: 0; }
            div#main .wrapper div#side .recent ul.blog li dl dt {
              font-size: 18px;
              font-family: Cantarell, sans-serif;
              text-align: justify;
              margin-bottom: .5em; }
              div#main .wrapper div#side .recent ul.blog li dl dt a:hover {
                text-decoration: none; }
            div#main .wrapper div#side .recent ul.blog li dl dd {
              text-align: justify;
              font-size: 13px; }
              div#main .wrapper div#side .recent ul.blog li dl dd img {
                margin-bottom: .5em;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                box-shadow: 0px 0 5px #cccccc;
                -webkit-box-shadow: 0px 0 5px #cccccc; }
              div#main .wrapper div#side .recent ul.blog li dl dd a {
                color: #df5341; }
              div#main .wrapper div#side .recent ul.blog li dl dd p {
                margin: 0;
                padding: 0; }

a {
  color: #503d15;
  text-decoration: none; }
  a:hover {
    color: #df5341;
    text-decoration: underline; }
  a:visited {
    color: #503d15; }

ul.leaderboard {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.leaderboard li {
    width: 235px;
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1em;
    width: 200px; }
    ul.leaderboard li.laptops dt {
      background-image: url(img/icons/laptops.png); }
    ul.leaderboard li.smartphones dt {
      background-image: url(img/icons/smartphones.png);
      padding-left: 25px; }
    ul.leaderboard li.cell-phones dt {
      background-image: url(img/icons/cell-phones.png);
      padding-left: 25px; }
    ul.leaderboard li.tablets dt {
      background-image: url(img/icons/tablets.png); }
    ul.leaderboard li.cameras dt {
      background-image: url(img/icons/cameras.png); }
    ul.leaderboard li.tvs dt {
      background-image: url(img/icons/tvs.png); }
    ul.leaderboard li.personal-audio dt {
      background-image: url(img/icons/personal-audio.png);
      font-size: 16px !important;
      padding-left: 25px; }
    ul.leaderboard li.receivers dt {
      background-image: url(img/icons/personal-audio.png);
      font-size: 16px !important;
      padding-left: 25px; }
    ul.leaderboard li.home-theater-audio dt {
      background-image: url(img/icons/home-theater.png);
      font-size: 14px !important;
      padding-left: 28px; }
    ul.leaderboard li.networking dt {
      background-image: url(img/icons/networking.png); }
    ul.leaderboard li.storage dt {
      background-image: url(img/icons/storage.png);
      padding-left: 25px; }
    ul.leaderboard li.cables dt {
      background-image: url(img/icons/cables.png); }
    ul.leaderboard li.e-book-readers dt {
      background-image: url(img/icons/e-book-readers.png);
      font-size: 16px !important;
      padding-left: 25px; }
    ul.leaderboard li.blu-ray-player dt {
      background-image: url(img/icons/blu-ray-player.png);
      font-size: 16px !important;
      padding-left: 25px; }
    ul.leaderboard li.computer-accessories dt {
      background-image: url(img/icons/desktops.png); }
    ul.leaderboard li.headphones dt {
      background-image: url(img/icons/headphones.png); }
    ul.leaderboard li.ipod-dock dt {
      background-image: url(img/icons/ipod.png);
      padding-left: 25px; }
    ul.leaderboard li.wireless-music dt {
      background-image: url(img/icons/wireless-music.png); }
    ul.leaderboard li.soundbars dt {
      background-image: url(img/icons/wireless-music.png); }
    ul.leaderboard li.tvs dt {
      text-transform: none; }
    ul.leaderboard li:nth-child(3n) {
      clear: right; }
    ul.leaderboard li:nth-child(3n+1) {
      clear: left; }
    ul.leaderboard li dl dt {
      font-weight: normal; }
    ul.leaderboard li dl dd {
      margin: 0;
      padding: 0; }
    ul.leaderboard li dl dt {
      font-family: Cantarell, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 30px;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 35px; }
      ul.leaderboard li dl dt a {
        display: block; }
        ul.leaderboard li dl dt a:hover {
          color: #df5341;
          text-decoration: none; }
    ul.leaderboard li dl dd img {
      background-color: #fff;
      height: 75px;
      margin: .5em 0 .75em 0;
      width: 200px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      box-shadow: 0px 0 5px #efe9d8;
      -webkit-box-shadow: 0px 0 5px #efe9d8; }
      ul.leaderboard li dl dd img:hover {
        box-shadow: 0px 0 5px #cccccc;
        -webkit-box-shadow: 0px 0 5px #cccccc; }
    ul.leaderboard li dl dd ul {
      margin: 0 0 0 1.5em;
      padding: 0;
      list-style-image: url(./img/triangle.png);
      list-style-position: outside; }
      ul.leaderboard li dl dd ul li {
        margin-left: 0;
        margin-right: 0;
        clear: none;
        display: list-item;
        float: none;
        margin: 0;
        padding: 0 0 .5em 0;
        width: 180px; }
        ul.leaderboard li dl dd ul li a {
          display: block;
          font-size: 11px;
          text-transform: uppercase;
          text-shadow: #fff 0 1px 0; }
          ul.leaderboard li dl dd ul li a .product {
            color: #B0AEA7; }
          ul.leaderboard li dl dd ul li a:hover {
            color: #df5341;
            text-decoration: none; }
            ul.leaderboard li dl dd ul li a:hover .product {
              color: #df5341; }
        ul.leaderboard li dl dd ul li.more {
          list-style-type: none !important;
          list-style-image: none !important; }

.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0 5px #cccccc;
  -webkit-box-shadow: 0px 0 5px #cccccc;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
  padding: 1em; }
  .box a {
    color: #df5341; }
  .box ul {
    margin-left: 0;
    padding-left: 1.5em; }

div#content .side {
  width: 200px; }
  div#content .side dl dt {
    font-weight: normal; }
  div#content .side dl dd {
    margin: 0;
    padding: 0; }
  div#content .side dl dt {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 1em; }
    div#content .side dl dt .price {
      background-color: #728057;
      border-top: 1px solid rgba(255, 255, 255, 0.95);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #fff;
      font-style: normal;
      padding: .5em;
      text-align: center;
      text-shadow: #000 0 -1px 0;
      font-size: 18px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px; }
  div#content .side dl ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    div#content .side dl ul li a {
      color: #fff;
      display: block;
      font-size: 14px;
      padding: .75em .5em;
      text-align: center;
      text-shadow: #666 0 -1px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.95);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      div#content .side dl ul li a:hover {
        text-decoration: none;
        -moz-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2); }
    div#content .side dl ul li:first-child a {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
    div#content .side dl ul li:last-child a {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
    div#content .side dl ul li.amazon a {
      background-color: #bc9d54; }
    div#content .side dl ul li.apple a {
      background-color: #999; }
    div#content .side dl ul li.bestbuy a {
      background-color: #6d8aa4; }
    div#content .side dl ul li.monoprice a {
      background-color: #C52227; }
  div#content .side .social {
    padding-left: 40px; }

.image .large {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0 5px #cccccc;
  -webkit-box-shadow: 0px 0 5px #cccccc;
  background-color: #fff;
  margin: 1em 0;
  padding: 1em 0;
  text-align: center;
  width: 670px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; }
  .image .large img {
    max-width: 640px; }

.single-bc_review .article {
  width: 450px !important; }

.article .breadcrumbs {
  margin-bottom: .5em; }
  .article .breadcrumbs a {
    color: #6d8aa4; }
.article h1 {
  margin-bottom: 0; }
  .article h1 a:hover {
    color: #df5341;
    text-decoration: none; }
.article h2 {
  color: #df5341;
  font-size: 18px;
  margin-bottom: 1em; }
.article img {
  max-width: 450px; }
.article .meta {
  margin-bottom: 1em; }
  .article .meta ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .article .meta ul li {
      float: left; }
      .article .meta ul li a, .article .meta ul li span {
        background-repeat: no-repeat;
        background-position: left middle;
        display: block;
        padding-left: 16px;
        margin-right: 1em; }
      .article .meta ul li.category a {
        background-image: url(img/meta-tag.png);
        color: #6d8aa4; }
      .article .meta ul li.comments a {
        background-image: url(img/meta-comments.png);
        color: #6E8AA4; }
      .article .meta ul li.likes a {
        background-image: url(img/meta-likes.png);
        color: #DF5442; }
      .article .meta ul li.date span {
        background-image: url(img/meta-date.png);
        color: #728057; }
      .article .meta ul li.author a {
        background-image: url(img/meta-author.png);
        color: #A69B98; }
.article blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0 5px #cccccc;
  -webkit-box-shadow: 0px 0 5px #cccccc;
  background-color: #fff;
  margin: 0;
  padding: 1em;
  font-family: courier, monospace; }
.article .entry-content a,
.article .best-sources a {
  color: #df5341;
  text-decoration: underline; }
  .article .entry-content a:visited,
  .article .best-sources a:visited {
    color: #503d15; }
.article .best-sources {
  *display: inline-block;
  border-top: 2px solid #6d8aa4;
  padding-top: 1em;
  margin-top: 2em; }
  .article .best-sources:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .article .best-sources ol {
    padding-left: 1.5em; }
  .article .best-sources dl dt {
    font-weight: normal; }
  .article .best-sources dl dd {
    margin: 0;
    padding: 0; }
  .article .best-sources dl dt {
    font-style: italic; }
  .article .best-sources dl dd {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1.5em; }
.article img.alignleft {
  display: inline;
  float: left; }
.article img.alignright {
  display: inline;
  float: right; }
.article img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.specs strong {
  display: block; }

.leaderboard .reviews .bc_review {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  padding: 1.5em 0; }
  .leaderboard .reviews .bc_review a:hover {
    color: #df5341; }
  .leaderboard .reviews .bc_review h2 {
    margin: 0; }
  .leaderboard .reviews .bc_review h3 {
    color: #df5341;
    font-size: 14px;
    margin: 0;
    padding: 0; }
  .leaderboard .reviews .bc_review img {
    background-color: #fff;
    margin-top: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0 5px #cccccc;
    -webkit-box-shadow: 0px 0 5px #cccccc;
    width: 450px; }
  .leaderboard .reviews .bc_review:first-child {
    border-top-width: 0;
    padding-top: 0; }
  .leaderboard .reviews .bc_review:last-of-type {
    border-bottom-width: 0 !important; }

ul.categories {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.categories li {
    margin-bottom: .5em; }
    ul.categories li a {
      display: block;
      font-size: 14px; }
    ul.categories li ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: .5em; }
      ul.categories li ul li {
        margin-left: 1.5em; }
        ul.categories li ul li a {
          font-size: 12px; }

div#comments ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  div#comments ol li img.avatar {
    margin-right: 1em; }
  div#comments ol li footer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0 5px #cccccc;
    -webkit-box-shadow: 0px 0 5px #cccccc;
    background-color: #fff !important; }
div#comments div#respond {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0 5px #cccccc;
  -webkit-box-shadow: 0px 0 5px #cccccc;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0px 0 5px #666666;
  -webkit-box-shadow: 0px 0 5px #666666;
  margin-top: 2em; }
  div#comments div#respond a {
    color: #df5341; }
  div#comments div#respond label {
    display: block; }
  div#comments div#respond .form-allowed-tags {
    font-size: 11px; }
  div#comments div#respond textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: #ccc;
    width: 100%; }

.line {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  margin: 2em 0; }

.ad {
  text-align: center; }
  .ad div {
    margin: 0 auto; }

div#social {
  position: absolute;
  height: 80px;
  top: 30px;
  left: 0; }
  div#social .snipsnip {
    color: #666;
    font-size: 11px;
    text-align: center;
    padding-top: .5em; }
  div#social #facebook {
    margin-top: -10px; }
